@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.header_box, #category {
    color: black;
    background-color: white;
    height: 8vh;

    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    text-align: center;
}

